# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Backend
bf_backend/node_modules/
bf_backend/.env
bf_backend/venv/
bf_backend/__pycache__/

# Audit file (do not upload real logs)
bf_backend/audit_logs.json
